* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffaf0;
    font-family: 'Coda', cursive;
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
}
.navbar h2 {
    font-size: 1em;
    place-content: ;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    font-size: 1em;
    list-style: none;
    margin-right: 20px;
}

.navbar li :last-child {
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #2c2524;
}

header {
    display: grid;
    justify-items: center;
}

.hero-container {
    display: grid;
    padding-top: 8em;
    grid-template-columns: 1fr;
    place-items: center;
}

.center-box {
    width: 40vw;
    height: 100%;
    padding: 4em 1em;
}

.project-thumbs {
    background-color: #fffaf0;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 220px;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.panel {
    position: relative;
    border: #2c2524 solid .2em;
    text-align: center;
    display: grid;
    align-items: center;
    height: 220px;
}

.panel:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .8s;
    -webkit-transition: all .8s;
}

.panel h3 {
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.panel:hover::after {
    opacity: 1;
}

.panel:hover h3{
    opacity: 1;
    color: #fffaf0;
    z-index: 2;
}

#malebog {
    background-image: url("../assets/stak_malebog1200.jpg");
    background-size: cover;
    background-position: center;
}

#troika {
    background-image: url("../assets/troikafilm_screenshot-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#montana {
    background-image: url("../assets/montanaband_screenshot-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.project-wrapper {
    padding-top: 8em;
    place-self: center;
    max-width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.project-cover-image {
    max-width: 30vw;
    justify-self: center;
}

.project-text {
    max-width: 40vw;
    justify-self: center;
}

.project-buttons {
    background-color: none;
    border: none;
    text-decoration: none;
}

.project-buttons :nth-child(n) {
    padding: .5em 1.5em;
}


/* Media queries */
@media screen and (max-width: 678px) {
    .project-thumbs {
        max-width: 90vw;
    }
}

@media (min-width: 600px){
    .navbar {
        justify-content: space-between;
    }
}
