* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-right: auto;
    float: right;
}

.navbar li {
    margin-right: 100px;
}